<div class="min-h-screen bg-gray-50 py-10 px-6">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Form Section -->
    <div class="bg-white shadow-xl rounded-xl p-8 border border-gray-200">
      <form
        (ngSubmit)="submitForm()"
        #cvForm="ngForm"
        novalidate
        class="space-y-6"
      >
        <!-- Nome -->
        <div>
          <label for="name" class="block text-lg font-medium text-gray-700">Nome:</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="cvData.name"
            name="name"
            required
            #name="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Inserisci il tuo nome"
          />
        </div>

        <!-- Email -->
        <div>
          <label for="email" class="block text-lg font-medium text-gray-700">Email:</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="cvData.email"
            name="email"
            required
            #email="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Inserisci la tua email"
          />
        </div>

        <!-- Esperienze -->
        <div>
          <label for="experience" class="block text-lg font-medium text-gray-700">Esperienze:</label>
          <textarea
            id="experience"
            [(ngModel)]="cvData.experience"
            name="experience"
            required
            #experience="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            rows="5"
            placeholder="Descrivi le tue esperienze"
          ></textarea>
        </div>

        <!-- Pulsante di invio -->
        <div class="text-center">
          <button 
            (click)="downloadAsPDF()"
            type="submit"
            [disabled]="cvForm.invalid"
            
            class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition-all ease-in-out"
          >
            Genera Curriculum
          </button>
        </div>
      </form>
    </div>

    <!-- Preview Section -->
    <div class="bg-white shadow-xl rounded-xl p-8 border border-gray-200">
      <!-- Anteprima con i dati dinamici -->
      <app-cv-preview [cvData]="cvData"></app-cv-preview>
    </div>
  </div>
</div>
