<div class="min-h-screen bg-gray-50 py-10 px-6">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Form Section -->
    <div class="bg-white shadow-xl rounded-xl p-8 border border-gray-200">
      <form
        (ngSubmit)="submitForm()"
        #cvForm="ngForm"
        novalidate
        class="space-y-6"
      >
        <!-- Nome -->
        <div>
          <label for="name" class="block text-lg font-medium text-gray-700">Nome:</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="cvData.name"
            name="name"
            required
            #name="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Inserisci il tuo nome"
            [ngClass]="{'border-red-500': name.invalid && name.touched, 'border-green-500': name.valid && name.touched}"
          />
          <!-- Icona di check -->
          <div *ngIf="name.valid && name.touched" class="valid-icon text-green-500">
            ✔️
          </div>
          <div *ngIf="name.invalid && name.touched" class="text-red-500 text-sm">
            Nome è obbligatorio.
          </div>
        </div>

        <!-- Cognome -->
        <div>
          <label for="surname" class="block text-lg font-medium text-gray-700">Cognome:</label>
          <input
            id="surname"
            type="text"
            [(ngModel)]="cvData.surname"
            name="surname"
            required
            #surname="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Inserisci il tuo cognome"
            [ngClass]="{'border-red-500': surname.invalid && surname.touched, 'border-green-500': surname.valid && surname.touched}"
          />
          <!-- Icona di check -->
          <div *ngIf="surname.valid && surname.touched" class="valid-icon text-green-500">
            ✔️
          </div>
          <div *ngIf="surname.invalid && surname.touched" class="text-red-500 text-sm">
            Cognome è obbligatorio.
          </div>
        </div>

        <!-- Email -->
        <div>
          <label for="email" class="block text-lg font-medium text-gray-700">Email:</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="cvData.email"
            name="email"
            required
            #email="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Inserisci la tua email"
            [ngClass]="{
              'border-red-500': email.invalid && email.touched,
              'border-green-500': email.valid && email.touched
            }"
            [pattern]="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'"
          />
          <!-- Icona di check -->
          <div *ngIf="email.valid && email.touched" class="valid-icon text-green-500">
            ✔️
          </div>
          <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm">
            Inserisci una email valida.
          </div>
        </div>

        <!-- Telefono -->
        <div>
          <label for="phone" class="block text-lg font-medium text-gray-700">Telefono:</label>
          <input
            id="phone"
            type="number"
            [(ngModel)]="cvData.phone"
            name="phone"
            required
            #phone="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Inserisci il tuo numero di telefono"
            pattern="^[0-9]{10,15}$"
            [ngClass]="{'border-red-500': phone.invalid && phone.touched, 'border-green-500': phone.valid && phone.touched}"
          />
          <!-- Icona di check -->
          <div *ngIf="phone.valid && phone.touched" class="valid-icon text-green-500">
            ✔️
          </div>
          <div *ngIf="phone.invalid && phone.touched" class="text-red-500 text-sm">
            Inserisci un numero di telefono valido (solo numeri).
          </div>
        </div>

        <!-- Profilo -->
        <div>
          <label for="profile" class="block text-lg font-medium text-gray-700">Profilo:</label>
          <textarea
            id="profile"
            [(ngModel)]="cvData.profile"
            name="profile"
            required
            #profile="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            rows="5"
            placeholder="Descrivi il tuo profilo professionale"
          ></textarea>
          <!-- Icona di check -->
          <div *ngIf="profile.valid && profile.touched" class="valid-icon text-green-500">
            ✔️
          </div>
          <div *ngIf="profile.invalid && profile.touched" class="text-red-500 text-sm">
            Profilo è obbligatorio.
          </div>
        </div>

        <!-- Lingue -->
        <div>
          <label for="languages" class="block text-lg font-medium text-gray-700">Lingue conosciute:</label>
          <input
            id="languages"
            type="text"
            [(ngModel)]="cvData.languages"
            name="languages"
            required
            #languages="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Lingue che conosci"
          />
          <!-- Icona di check -->
          <div *ngIf="languages.valid && languages.touched" class="valid-icon text-green-500">
            ✔️
          </div>
        </div>

        <!-- Esperienze -->
        <div>
          <label for="experience" class="block text-lg font-medium text-gray-700">Esperienze:</label>
          <textarea
            id="experience"
            type="text"
            [(ngModel)]="cvData.experience"
            name="experience"
            required
            #experience="ngModel"
            rows="5"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Scrivi le tue esperienze lavorative!"
          ></textarea>
          <!-- Icona di check -->
          <div *ngIf="experience.valid && experience.touched" class="valid-icon text-green-500">
            ✔️
          </div>
        </div>

        <!-- Patente -->
        <div>
          <label for="license" class="block text-lg font-medium text-gray-700">Patente:</label>
          <input
            id="license"
            type="text"
            [(ngModel)]="cvData.license"
            name="license"
            required
            #license="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Tipo di patente"
          />
          <!-- Icona di check -->
          <div *ngIf="license.valid && license.touched" class="valid-icon text-green-500">
            ✔️
          </div>
        </div>

        <!-- Indirizzo -->
        <div>
          <label for="address" class="block text-lg font-medium text-gray-700">Indirizzo:</label>
          <input
            id="address"
            type="text"
            [(ngModel)]="cvData.address"
            name="address"
            required
            #address="ngModel"
            class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Inserisci il tuo indirizzo"
          />
          <!-- Icona di check -->
          <div *ngIf="address.valid && address.touched" class="valid-icon text-green-500">
            ✔️
          </div>
        </div>

        <!-- Pulsante di invio -->
        <div class="text-center">
          <button
            type="submit"
            [disabled]="cvForm.invalid"
            class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition-all ease-in-out"
          >
            Genera Curriculum
          </button>
        </div>
      </form>
    </div>

    <!-- Preview Section -->
    <div class="bg-white shadow-xl rounded-xl p-8 border border-gray-200">
      <!-- Anteprima con i dati dinamici -->
      <app-cv-preview [cvData]="cvData"></app-cv-preview>
    </div>
  </div>
</div>
