<div *ngIf="cvData && (cvData.name || cvData.email || cvData.experience)" id="cv-content" class="bg-white shadow-lg rounded-lg p-6 border">
  <h2 class="text-2xl font-semibold text-gray-800 text-center">CURRICULUM</h2>

  <div class="mt-4">
    <p *ngIf="cvData.name" class="text-lg"><strong>Nome:</strong> {{ cvData.name }}</p>
    <p *ngIf="cvData.email" class="text-lg"><strong>Email:</strong> {{ cvData.email }}</p>
    <p *ngIf="cvData.experience" class="text-lg"><strong>Esperienze:</strong></p>
    <p *ngIf="cvData.experience" class="text-gray-700">{{ cvData.experience }}</p>
  </div>
</div>

<div *ngIf="!cvData || (!cvData.name && !cvData.email && !cvData.experience)" class="text-center text-gray-500">
  <p>Inserisci i dati per vedere l'anteprima del curriculum.</p>
</div>

